.roboto-regular {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  
  main {
    padding-bottom: 50px;
  }
  
  .judul {
    margin-top: 60px;
    margin-bottom: 35px;
  }
  
  .judul h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 120%;
    /* or 43px */
  
    /* hitam 75% */
  
    color: rgba(0, 0, 0, 0.75);
  }
  
  .judul span {
    font-weight: 600;
  }
  
  .instruksi {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    margin-left: -20px;
    margin-bottom: 15px;
    margin-top: 5px;
    /* or 22px */
  
    /* hitam 75% */
  
    color: rgba(0, 0, 0, 0.75);
  }
  
  .teks-bacaan {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */
  
    text-align: justify;
    margin-bottom: 38px;
    color: #000000;
  }
  
  .soal {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */
    /* margin-bottom: px; */
    /* hitam 75% */
  
    color: rgba(0, 0, 0, 0.75);
  }
  
  .jawaban {
    background: #ffffff;
    /* border: 1px solid #000000; */
    /* box-sizing: border-box; */
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 25px;
  }
  
  .teks-jawaban {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    padding-top: 10px;
    padding-bottom: 30pxx;
    /* or 17px */
    text-align: left;
    background: #ffd1d1;
    /* hitam 75% */
    width: 821px;
    height: 40px;
    color: rgba(0, 0, 0, 0.75);
  }
  
  .teks-jawaban-benar {
    font-family: Poppins;
    font-style: normal;
    padding-top: 10px;
    padding-bottom:30px;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    /* or 17px */
    text-align: left;
    background: #cbe8ff;
    /* hitam 75% */
    width: 821px;
    height: 40px;
    color: rgba(0, 0, 0, 0.75);
  }
  
  .jawab {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */
  
    /* hitam 75% */
  
    color: rgba(0, 0, 0, 0.75);
  }
  
  .pembahasan {
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    /* or 17px */
  
    text-align: justify;
  
    /* hitam 75% */
  
    color: rgba(0, 0, 0, 0.75);
  }
  
  .btn-soal {
      width: 234px;
      height: 50px;
    
      background: #007cdc;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
      margin: 90px 0;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
    
      color: #ffffff;
    }
  