<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

    <!-- My fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />

    <!-- My CSS -->
    <link rel="stylesheet" href="../style/jawab-tps-PU.css" />

    <title>Soal-PU</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007cdc">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="logo-home" src="../../img/Logo Sisulut.svg" alt="" width="210" width="45" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item roboto-regular">
              <a class="nav-link" aria-current="page" href="./beranda.html">Home</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link active" href="./materi.html">Materi</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link" href="./kontak.html">Kontak</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link" href="./tentang.html">Tentang</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <main>
      <div class="container">
        <div class="row judul">
          <div class="col text-center">
            <h2><span>Pembahasan :</span> TPS Pengetahuan Umum</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-9">
            <p class="instruksi">Teks berikut digunakan untuk menjawab soal nomor 1-4</p>
            <p class="teks-bacaan">
              (1) Listrik merupakan kebutuhan primer bagi manusia. (2) Listrik sangat bermanfaat bagi keperluan pekerjaan di banyak tempat. (3) Terkadang, ketersediaan daya listrik berkurang sehingga sering terjadi pemadaman listrik secara
              bergilir. (4) Pemadaman bergilir ini pastinya sudah banyak dialami oleh siapa pun. (5) Pemadaman juga memberikan dampak pada pengguna, apalagi pemadaman terjadi tanpa adanya pemberitahuan sebelumnya. <br /><br />
              (6) Dampak pemadaman listrik yang dirasakan para penggunanya di antaranya adalah terlambatnya laju informasi. (7) Informasi melalui elektronik, seperti handphone, televisi, dan radio, akan sulit didapatkan. (8) Selain itu,
              terbengkalainya pekerjaan rumah sangat dialami bagi para ibu rumah tangga. (9) Hal itu disebabkan pekerjaan rumah tangga yang biasanya dilakukan dengan bantuan listrik, seperti mencuci dan menyetrika, akan terhambat. (10) Mati
              listrik juga menyebabkan banyak pengeluaran yang tak terduga, tidak adanya hiburan dari televisi atau radio, meningkatnya risiko tindakan kriminalitas dan para pekerja akan memiliki pekerjaan yang menumpuk.
              <br /><br />
              (11) Dampak umum dari pemadaman listrik tersebut sebenarnya dapat diminimalisir jika memiliki sumber energi listrik seperti genset (generator set). (12) Genset merupakan mesin yang dapat mengubah energi mekanis menjadi energi
              listrik melalui induksi elektromagnetik. (13) Genset menghasilkan arus searah (DC) dan arus bolak-balik (AC) dan keduanya dapat digunakan untuk penerangan.
            </p>
            <p class="soal">1. Apa gagasan utama paragraf kedua?</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. Listrik memberikan dampak positif bagi penggunanya.</li>
                <li class="list-group-item teks-jawaban">B. Pemadaman listrik menghambat pekerjaan rumah.</li>
                <li class="list-group-item teks-jawaban">C. Dampak pemadaman listrik memiliki pengaruh yang bermanfaat bagi para penggunanya.</li>
                <li class="list-group-item teks-jawaban">D. Pemadaman listrik menghambat pekerjaan para penggunanya.</li>
                <li class="list-group-item teks-jawaban-benar">E. Dampak pemadaman listrik bagi para penggunanya.</li>
            </ul>  
            <p class="jawab">Jawaban : E <br> <br> Pembahasan :</p>
            <p class="pembahasan">Gagasan utama sebuah paragraf terdapat pada kalimat utama. Kalimat utama tersebut dapat berada di awal paragraf, di akhir paragraf, atau keduanya. Kalimat utama pada paragraf tersebut terdapat di awal paragraf. Sementara itu, kalimat berikutnya adalah kalimat penjelas. Kalimat utama paragraf kedua membicarakan dampak pemadaman listrik yang dirasakan para penggunanya. Kalimat selanjutnya  menjelaskan tentang dampak-dampak dari pemadaman listrik</p>            
            <p class="soal">2. Kesalahan penulisan ditemukan pada kalimat …</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. (3)</li>
                <li class="list-group-item teks-jawaban">B. (5)</li>
                <li class="list-group-item teks-jawaban">C. (10)</li>
                <li class="list-group-item teks-jawaban-benar">D. (11)</li>
                <li class="list-group-item teks-jawaban">E. (13)</li>
            </ul>  
            <p class="jawab">Jawaban : D <br> <br> Pembahasan :</p>
            <p class="pembahasan">Pada kalimat (11) terdapat kesalahan penulisan kata. Kata minimalisir adalah kata yang tidak baku. Menurut KBBI Edisi V, kata baku dari minimalisir adalah minimalisasi. Dengan begitu, jawaban yang tepat adalah D</p>

            <p class="soal">3. Apa kesimpulan teks tersebut?</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban-benar">A. Pemadaman listrik bergilir berdampak pada penggunanya dan dapat diminimalisasi dengan penggunaan genset.</li>
                <li class="list-group-item teks-jawaban">B. Dampak pemadaman listrik bergilir disebabkan oleh ketersediaan daya listrik berkurang.</li>
                <li class="list-group-item teks-jawaban">C. Pemadaman listrik bergilir disebabkan oleh banyak faktor yang menimbulkan kerugian bagi penggunanya.</li>
                <li class="list-group-item teks-jawaban">D. Solusi dari pemadaman listrik bergilir agar dapat meminimalisasi dampak bagi para penggunanya.</li>
                <li class="list-group-item teks-jawaban">E. Genset adalah solusi utama bagi pemadaman listrik bergilir.</li>
            </ul>  
            <p class="jawab">Jawaban : A <br> <br> Pembahasan :</p>
            <p class="pembahasan">Simpulan dalam sebuah teks harus mencerminkan topik dari bacaan. Topik dalam teks tersebut yaitu mengenai pemadaman listrik, dampak pemadaman listrik, dan solusinya. Dari keseluruhan isi teks dapat disimpulkan bahwa pemadaman listrik bergilir berdampak pada penggunanya dan dapat diminimalisasi dengan penggunaan genset</p>

            <p class="soal">4. Bagaimana hubungan isi antarparagraf ke-2 dan ke-3 dalam teks di atas?</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. Paragraf ke-3 merupakan simpulan penelitian yang dibahas pada paragraf ke-2</li>
                <li class="list-group-item teks-jawaban">B. Paragraf ke-2 merupakan perbedaan penyebab yang dibahas pada paragraf ke-1</li>
                <li class="list-group-item teks-jawaban-benar">C. Paragraf ke-3 memaparkan penyelesaian masalah dari paragraf ke-2</li>
                <li class="list-group-item teks-jawaban">D. Paragraf ke-2 merupakan fakta-fakta yang dipaparkan pada paragraf ke-3</li>
                <li class="list-group-item teks-jawaban">E. Paragraf ke-3 memerinci temuan yang dibahas pada paragraf ke-2</li>
            </ul>  
            <p class="jawab">Jawaban : C <br> <br> Pembahasan :</p>
            <p class="pembahasan">Pada paragraf kedua menunjukkan dampak-dampak dari pemadaman listrik yang dirasakan penggunanya. Selanjutnya, paragraf ketiga memaparkan penyelesaian masalah yang dapat dilakukan untuk meminimalisasi dampak-dampak pemadaman listrik yang dibahas pada paragraf kedua. Jadi, jawaban C yang lebih tepat.</p>

            <p class="instruksi">This passage is for number 5 to 8.</p>
            <p class="teks-bacaan">
              There is a famous expression in English: "Stop the world, I want to get off!" This expression refers to a feeling of panic, or stress, that makes a person want to stop whatever they are doing, try to relax, and become calm
              again. 'Stress' means pressure or tension. It is one of the most common causes of health problems in modern life. Too much stress results in physical, emotional, and mental health problems.<br />
              <br />
              There are numerous physical effects of stress. Stress can affect the heart. It can increase the pulse rate, make the heart miss beats, and can cause high blood pressure. Stress can affect the respiratory system. It can lead to
              asthma. It can cause a person to breathe too fast, resulting in a loss of important carbon dioxide. Stress can affect the stomach. It can cause stomach aches and problems digesting food. These are only a few examples of the
              wide range of illnesses and symptoms resulting from stress.<br />
              <br />
              Emotions are also easily affected by stress. People suffering from stress often feel anxious. They may have panic attacks. They may feel tired all the time. When people are under stress, they often overreact to little
              problems. For example, a normally gentle parent under a lot of stress at work may yell at a child for dropping a glass of juice. Stress can make people angry, moody, or nervous. <br />
              <br />Long-term stress can lead to a variety of serious mental illnesses. Depression, an extreme feeling of sadness and hopelessness, can be the result of continued and increasing stress. Alcoholism and other addictions often
              develop as a result of overuse of alcohol or drugs to try to relieve stress. Eating disorders, such as anorexia, are sometimes caused by stress and are often made worse by stress. If stress is allowed to continue, then one's
              mental health is put at risk. <br />
              <br />It is obvious that stress is a serious problem. It attacks the body. It affects the emotions. Untreated, it may eventually result in mental illness. Stress has a great influence on the health and well-being of our
              bodies, our feelings, and our minds. So, reduce stress: stop the world and rest for a while.
            </p>
            <p class="soal">5. What does the text mainly deal with?</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. People with physical, emotional and mental illness</li>
                <li class="list-group-item teks-jawaban">B. The causes of stress and its prevention</li>
                <li class="list-group-item teks-jawaban">C. Stress and how to handle it</li>
                <li class="list-group-item teks-jawaban-benar">D. The effect of stress on health</li>
                <li class="list-group-item teks-jawaban">E. Stress and depression</li>
            </ul>  
            <p class="jawab">Jawaban : D <br> <br> Pembahasan :</p>
            <p class="pembahasan">Pada paragraf kedua menunjukkan dampak-dampak dari pemadaman listrik yang dirasakan penggunanya. Selanjutnya, paragraf ketiga memaparkan penyelesaian masalah yang dapat dilakukan untuk meminimalisasi dampak-dampak pemadaman listrik yang dibahas pada paragraf kedua. Jadi, jawaban C yang lebih tepat.</p>

            <p class="soal">6. The writer of the text intends to….</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. People with physical, emotional and mental illness</li>
                <li class="list-group-item teks-jawaban">B. The causes of stress and its prevention</li>
                <li class="list-group-item teks-jawaban">C. Stress and how to handle it</li>
                <li class="list-group-item teks-jawaban-benar">D. The effect of stress on health</li>
                <li class="list-group-item teks-jawaban">E. Stress and depression</li>
            </ul>  
            <p class="jawab">Jawaban : D <br> <br> Pembahasan :</p>
            <p class="pembahasan">Pada paragraf kedua menunjukkan dampak-dampak dari pemadaman listrik yang dirasakan penggunanya. Selanjutnya, paragraf ketiga memaparkan penyelesaian masalah yang dapat dilakukan untuk meminimalisasi dampak-dampak pemadaman listrik yang dibahas pada paragraf kedua. Jadi, jawaban C yang lebih tepat.</p>
            
            <p class="soal">7. Why does the writer mention depression, extreme feeling of sadness and hopelessnessin paragraph 4?</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. To further explain the effect of stress on health.
                </li>
                <li class="list-group-item teks-jawaban-benar">B. To exemplify the effect of stress on mental health</li>
                <li class="list-group-item teks-jawaban">C. To imply the relation between mental illness and stress.</li>
                <li class="list-group-item teks-jawaban">D. To highlight the risk of mental illness caused by stress.</li>
                <li class="list-group-item teks-jawaban">E. To mention other examples of mental health problems.</li>
            </ul>  
            <p class="jawab">Jawaban : B <br> <br> Pembahasan :</p>
            <p class="pembahasan">Dari kedua kalimat tersebut, kita dapat menyimpulkan bahwa penulis menyebutkan depresi, perasaan sedih dan putus asa yang ekstrim sebagai contoh penyakit mental yang bisa timbul akibat stress. Jadi, jawaban yang benar adalah B.</p>

            <p class="soal">8. The writer believes that…</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. gentle parents may sometimes yell at their child due to trivial mistakes</li>
                <li class="list-group-item teks-jawaban">B. an extreme feeling of sadness and hopelessness can put someone’s life at risk</li>
                <li class="list-group-item teks-jawaban-benar">C. people’s health in these modern days  is greatly affected by their control of stress</li>
                <li class="list-group-item teks-jawaban">D. serious mental illness caused by stress can be treated with mental therapy</li>
                <li class="list-group-item teks-jawaban">E. physical health problems such as asthma and high blood pressure must be associated with stress</li>
            </ul>  
            <p class="jawab">Jawaban : C <br> <br> Pembahasan :</p>
            <p class="pembahasan">Pada paragraf pertama, penulis mengatakan “It is one of the most common causes of health problems in modern life.” yang artinya “Stress adalah salah satu penyebab masalah kesehatan yang paling umum dalam kehidupan modern.” Kalimat ini menunjukkan keyakinan penulis bahwa kesehatan orang-orang di jaman modern sekarang ini sangat dipengaruhi oleh control mereka terhadap stress.”  Jadi, jawaban yang benar adalah C</p>

            <p class="instruksi">Teks berikut digunakan untuk menjawab soal nomor 9 to 10</p>
            <p class="teks-bacaan">
              Most bees lead solitary lives. After mating, females dig or find suitable nests in soil or wood. They begin visiting flowers, making dozens of trips for pollen and nectar. Sugar from nectar provides ‘flight fuel’ for their
              trips to and from the nest. The proteins and amino acids in pollen are vital nutrients needed for the young bees (larvae). <br><br>
              
              Females lay eggs on masses of pollen mixed with nectar within unshaped earthen nest cells. The eggs
              hatch and the grub-like larvae devour the food placed for them. Over a period of weeks they eat pollen, defecate, and pupate, often spinning a silk cocoon. The new adult generation may emerge then or during the spring or
              summer of the coming year. <br><br>
              
              Solitary bees use diverse building materials for their nests: leaves, mud, sand, stones, plant resins, downy plant fibers, even abandoned snail shells. Because of the materials they collect, solitary
              bees are often called carpenter bees, mason bees, leafcutter bees, carder, or plasterer bees. <br><br>
              
              About 20% of the world’s more than 20,000 species of bees are social. They live communally in colonies of hundreds to tens of
              thousands of individuals. Each colony has one queen who is the mother of sterile daughters (the worker bees) and a few males called drones. <br><br>
              
              The best-known social bee around the world is the honey bee (Apis mellifera).
              Originally native to Europe, honey bees traveled with their human caretakers and now are found worldwide. Another well-known group is the fuzzy and charismatic black-and-yellow bumblebee (Bombus spp.). The sacred stingless
              bees (Melipona and Trigona) kept by both the ancient and modern Maya also live as highly social colonies, producing a surplus of honey. <br><br>
              
              Social bees don’t specialize in a particular floral color or shape - their forte is
              finding and exploiting rich sources of nectar and pollen. In fact, their efficiency and numbers can cause problems for the solitary bees that land on flowers that honey bees have depleted. Honey bees communicate through a
              waggle dance in which scout bees return to the nest and inform other bees about the distance and direction to a newly discovered flower patch.
            </p>
            <p class="soal">9. According to the passage, what is TRUE about social bees?</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. They live by themselves and their larvae.</li>
                <li class="list-group-item teks-jawaban">B. They do not live in colonies.</li>
                <li class="list-group-item teks-jawaban-benar">C. They have defined roles and must cooperate with each other. </li>
                <li class="list-group-item teks-jawaban">D. They are called carpenter bees for the material they collected.</li>
                <li class="list-group-item teks-jawaban">E. They aren’t found worldwide since they don’t travel with human caretakers.</li>
            </ul>  
            <p class="jawab">Jawaban : C <br> <br> Pembahasan :</p>
            <p class="pembahasan">Social bees dibahas pada paragraf 4, 5 dan 6 sehingga informasi yang terdapat pada paragraf 1, 2 dan 3 bukan mengenai social bees. Jadi A dan D salah. Pilihan B artinya “Mereka tidak hidup berkelompok.” Pilihan ini salah berdasarkan kalimat “They live communally….” Pada paragraf 4. Pilihan E salah berdasarkan kalimat “…, honey bees traveled with their human caretakers and now are found worldwide.” pada paragraf 5. Honey bee adalah salah satu jenis dari social bees. Jadi, pilihan yang benar adalah C.  </p>

            <p class="soal">10. The author’s attitude towards the topic of the passage is…</p>
            <ul class="list-group jawaban">
                <li class="list-group-item teks-jawaban">A. Neutral</li>
                <li class="list-group-item teks-jawaban-benar">B. Informative</li>
                <li class="list-group-item teks-jawaban">C. Indifferent </li>
                <li class="list-group-item teks-jawaban">D. Critical</li>
                <li class="list-group-item teks-jawaban">E. Concerned</li>
            </ul>  
            <p class="jawab">Jawaban : B <br> <br> Pembahasan :</p>
            <p class="pembahasan">Dalam teks tersebut, penulis memberikan penjelasan dan informasi tentang social bees dan solitary bees. Dari keseluruhan paragraf kita dapat menemukan informasi tentang perbedaan kedua jenis lebah tersebut sehingga sikap penulis terhadap topik bacaan adalah B. informative bukan neutral (netral), indifferent (acuh tak acuh), critical (kritis) atau concerned (khawatir/perhatian)</p>
          </div>
          <div class="row">
            <div class="col d-flex justify-content-center">
                <a class="btn btn-soal" href="./soal-tps-PU.html" role="button">Kembali</a>
            </div>
          </div>

        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer style="width: 100%; height: 195.77px; background: #007cdc" class="py-5 mt-2">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <p style="font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 120%; /* or 22px */ color: #ffffff">KONTEN WEBSITE KAMI</p>
            <p class="p-footer" style="margin-top: -10px">TPS UTBK</p>
            <p class="p-footer" style="margin-top: -10px">TPA UTBK</p>
            <p class="p-footer" style="margin-top: -10px">UTBK SOSHUM</p>
          </div>
          <div class="col-4 text-center py-1">
            <p class="md-2" style="font-family: Poppins; font-style: normal; font-weight: 600; font-size: 24px; line-height: 120%; /* or 29px */ text-align: center; color: #ffffff">KONTAK KAMI</p>
            <img src="../../img/bi_whatsapp.svg" alt="wa" />
            <img class="mx-3" src="../../img/email.svg" alt="email" />
            <img src="../../img/instagram-fill.svg" alt="ig" />
          </div>
          <div class="col-4 text-end py-1">
            <img class="mb-2" src="../../img/Logo Sisulut.svg" alt="logo" />
            <p
              style="
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 120%;
                /* identical to box height, or 22px */

                color: #ffffff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              "
            >
              Copyright © 2021 sisulut.id
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Akhir Footer -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
