<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

    <!-- My fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />

    <!-- My CSS -->
    <link rel="stylesheet" href="../style/soal-tps-PU2.css" />

    <title>Soal-PU</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007cdc">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="logo-home" src="../../img/Logo Sisulut.svg" alt="" width="210" width="45" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item roboto-regular">
              <a class="nav-link" aria-current="page" href="./beranda.html">Home</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link active" href="./materi.html">Materi</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link" href="./kontak.html">Kontak</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link" href="./tentang.html">Tentang</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <main>
      <div class="container">
        <div class="row judul">
          <div class="col text-center">
            <h2><span>Soal :</span> TPS Penalaran Umum</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-9">
            <p class="soal"><p class="teks-bacaan">
                1. Dalam majalah Bunda yang diterbitkan tahun 2010, pada halaman 37, terdapat kutipan 
                 pendapat Sugiyanto dalam artikel karya Agra Mashudi sebagai berikut:
                 
                 Orang gemuk dan anak-anak usia sekolah jauh lebih rentan terserang sakit hingga meninggal 
                 akibat virus flu babi H1N1 (Sugiyarto, 2008: 11). Jika Ikang mengutip pendapat Sugiyarto 
                 tanpa membaca bukunya, kutipan yang benar adalah ….
             </p></p>    
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio1">A. Menurut Sugiyarto (2008:11) orang gemuk dan anak-anak usia sekolah jauh lebih rentan terserang sakit hingga 
                meninggal akibat virus flu babi H1N1 (dalam Mashudi, 2010).
              </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio2">B. Sugiyarto (2008) dalam (Mashudi, 2010) menyatakan bahwa orang gemuk dan anakanak usia sekolah jauh lebih 
                rentan terserang sakit hingga meninggal akibat virus flu babi H1N1.
              </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio3">C. Sugiyarto (dalam Masyudi, 2010) menyatakan bahwa orang gemuk dan anak-anak usia sekolah jauh lebih rentan 
                terserang sakit hingga meninggal akibat virus flu babi H1N1.
                </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio4">D. Orang gemuk dan anak-anak usia sekolah jauh lebih rentan terserang sakit hingga meninggal akibat virus flu 
                babi H1N1 (Sugiyarto, 2008 dalam Masyudi, 2010).</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio5">E. Menurut Sugiyarto (2008:11 dalam Mashudi 2010;37), menyatakan bahwa ”bahwa orang gemuk dan anak-anak usia 
                sekolah jauh lebih rentan terserang sakit hingga meninggal akibat virus flu babi H1N1.”</label>
            </div>
            <p class="soal">2. Sejumlah pengusaha sepatu kecil menengah di Kabupaten Mojokerto mengalami kesulitan 
                menghadapi aturan perdagangan bebas atau free trade agreement (FTA) ASEAN-Chin. 
                Mereka mengaku merugi sejak isu itu digulirkan pada awal Januari lalu. Para pedagang 
                mengalami dampak negatif aturan itu. Pada sektor usada kecil sepatu, misalnya, pengusaha 
                merugi sampai 50% “Orderan berkurang 50%. Artinya, produksi kami juga berkurang 
                sebesar itu,” kata Budi Utomo, anggota Gabungan Pengusaha Sepatu (GPS) Kabupaten 
                Mojokerto. Sepinya order terjadi karena sebagian besar pelanggan tidak melakukan 
                pemesanan karena menunggu masuknya produk impor lebih murah dari pada harga produk 
                lokal. Pernyataan berikut yang TIDAK SESUAI dengan isi paragraf diatas adalah …
            </p>

            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio6">A. FTA ASEAN-China membuat panik sejumlah pengusaha sepatu kecil menengah di Kabupaten Mojokerto.
            </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio7">B. Para pelanggan pengusaha sepatu di Kabupaten Mojokertolebih memilih produk sepatu impor dari pada 
                membeli sepatu lokal.</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio8">C. Sejak Januari lalu, kerugian akibat FTA ASEAN-China dirasakan para pengusaha sepatu kecil menengah 
                di Kabupaten Mojokerto.</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio9">D. Akibat FTA ASEAN-China kerugian para pengusah kecil di Kabupaten Mojokerto mencapai sekitar 50%.
            </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio10">E. Banyak pelanggan pengusaha sepatu di Kabupaten Mojokerto menghentikan permintaan pesanan karena 
                menunggu pelaksanaan FTA-ASEAN China.</label>
            </div>

            <p class="soal">3. Jika p adalah bilangan habis dibagi 7 dan nilainya lebih besar daripada 14 dan kurang daripada    
     28, sedangkan q adalah bilangan ganjil yang nilainya di antara 19 dan 23, maka pernyataan yang
     paling tepat adalah ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio11">A. p = q</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio12">B. p > q</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio13" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio13">C. p < q </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio14" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio14">D. 2p < q   </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio15" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio15">E. 2q < p</label>
            </div>
            <p class="soal">4. Jika a ≥ 3, maka nilai 5a + 3 adalah ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio16" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio16">A. ≥ 8</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio17" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio17">B. >18</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio18" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio18">C. ≥ 18
            </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio19" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio19">D. >23</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio20" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio20">E. ≥ 23</label>
            </div>
            
            <p class="soal">5. Jika p = 2a + 3 dan q = a + 6, maka 2p + 4q = ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio21" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio21">A. 6a + 18</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio22" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio22">B. 6a + 30</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio23" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio23">C. 6a + 27</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio24" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio24">D. 8a + 30</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio25" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio25">E. 8a + 27</label>
            </div>

            <p class="soal">6. Jika p = q + 2, q = r – 1 dan r = 5, maka yang benar adalah ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio26" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio26">A. p < q < r</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio27" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio27">B. p < r < q</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio28" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio28">C. q < r < p
              </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio29" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio29">D. q < p < r</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio30" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio30">E. r < p < q</label>
            </div>
            <p class="soal">7.  Jika a = b, maka 4a + 3b = ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio31" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio31">A. 7</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio32" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio32">B. 7b</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio33" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio33">C. 7ab</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio34" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio34">D. 2ab</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio35" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio35">E. 2a</label>
            </div>
            <p class="soal">8. Jika a × b = 12 dengan a dan b adalah bilangan bulat positif, maka nilai maksimum a + b 
                – 1 adalah …</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio36" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio36">A. 6</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio37" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio37">B. 7</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio38" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio38">C. 8</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio39" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio39">D. 12</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio40" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio40">E. 13</label>
            </div>
            <p class="instruksi">Bacalah teks berikut dengan cermat untuk menjawab soal nomor 9-10!</p>
            <p class="teks-bacaan">
                (1) Lembaga KPPOD bekerja sama dengan USAID dan The Asian Foundation (TAF) 
                mengadakan survei daya saing daerah berdasarkan level economic governance. (2) Survei 
                tersebut dilakukan pada 243 kabupaten/kota yang tersebar pada 15 provinsi di Indonesia. (3) 
                Indikator kinerja yang digunakan dalam survei ini adalah manajemen infrastruktur, 
                aksesbilitas, kepastian lahan, dan program pengembangan sektor swasta. (4) di samping itu 
                terdapat empat indikator kinerja lainnya, yakni hubungan antara pemerintah daerah dan 
                bisnis, biaya transaksi, integretas, dan resolusi konflik, serta kualitias dari peraturan daerah. 
                (5) berdasarkan hal tersebut disusunlah indeks tata kella ekonomi/ economic government 
                index (EGI). (6) pembobotan untuk masing-masing indeks disusun menurut presentase 
                perusahaan di mana memandang indeks tersebut sebagai masalah utama yang memengaruhi 
                lingkungan bisnis. (7) hasilnya adalah empat permasalahan utama yang terdapat dalam 
                pengelolahan ekonomi lokal di Indonesia terdiri atas permasalahan manajemen infrastruktur, 
                pembangunan sektor swasta aksesbilitas dan kepastian lahan, serta hubungan pemda dn 
                sektor bisnis. (9) masing- masing permaslahan ini diberi bobot secara berurutan, yakni 
                35,5%, 14,8%, dan 14%. (10) berdasarkan hasil survei terdapat empat provinsi yang 
                konsisten memporoleh nilai EGI. (11) keempat provinsi itu dengan indeks tata kelolanya 
                dapat diamati pada tabel berikut.
            </p>
            <img src="../../img/penalaran umum.svg" alt="nilai EGI" class="mb-3 mx-5">
            <p class="soal">9. Berdasarkan paragraf tersebut pernyataan yang benar adalah ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio41" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio41">A. Indikator kinerja yang digunakan dalam survei daya siang daerah berdasarkan level economic governance 
                ada enam.</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio42" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio42">B. Pembobotan masing-masing indeks disusun menurut laba perusahaan yang terdapat dalam pengelolahan 
                ekonomi nasional.</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio43" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio43">C. Terdapat lebih dari empat provinsi yang konsisten memperoleh nilai EGI. </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio44" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio44">D. Salah satu indikator utama yang terdapat dalam survei daya saing daerah di Indonesia adalah manajemen 
                infrastruktur.</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio45" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio45">E. Survei Lembaga KPPOD dilakukan di 243 kabupaten/kota yang tersebar di 10 provinsi di Indonesia.</label>
            </div>

            <p class="soal">10. Berdasarkan tabel Daya Saing Daerah Menurut EGI empat provinsi yang konsisten memperoleh 
             nilai EGI adalah ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio46" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio46">A. Bali, Jawa Timur, Sumatera Selatan, Aceh</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio47" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio47">B. Jawa Timur, Jawa Tengah, Jawa Barat, Bali
                </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio48" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio48">C. umatera Selatan, Bali, Jawa Barat, Jawa Tengah</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio49" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio49">D. Sumatera Selatan, Manado, Bali, Lampung
                </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio50" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio50">E. Jawa Barat, Sumatera Selatan, Bali, Jawa Timur</label>
            </div>  
          </div>
          <div class="row">
            <div class="col d-flex justify-content-start">
                <a class="btn btn-soal" href="./soal-tps-PU.html" role="button">Kembali</a>
            </div>
            <div class="col d-flex justify-content-end">
                <a class="btn btn-soal" href="./jawab-tps-PU.html" role="button">Lihat Jawaban</a>
            </div>
          </div>

        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer style="width: 100%; height: 195.77px; background: #007cdc" class="py-5 mt-2">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <p style="font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 120%; /* or 22px */ color: #ffffff">KONTEN WEBSITE KAMI</p>
            <p class="p-footer" style="margin-top: -10px">TPS UTBK</p>
            <p class="p-footer" style="margin-top: -10px">TPA UTBK</p>
            <p class="p-footer" style="margin-top: -10px">UTBK SOSHUM</p>
          </div>
          <div class="col-4 text-center py-1">
            <p class="md-2" style="font-family: Poppins; font-style: normal; font-weight: 600; font-size: 24px; line-height: 120%; /* or 29px */ text-align: center; color: #ffffff">KONTAK KAMI</p>
            <img src="../../img/bi_whatsapp.svg" alt="wa" />
            <img class="mx-3" src="../../img/email.svg" alt="email" />
            <img src="../../img/instagram-fill.svg" alt="ig" />
          </div>
          <div class="col-4 text-end py-1">
            <img class="mb-2" src="../../img/Logo Sisulut.svg" alt="logo" />
            <p
              style="
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 120%;
                /* identical to box height, or 22px */

                color: #ffffff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              "
            >
              Copyright © 2021 sisulut.id
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Akhir Footer -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
