<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

    <!-- My fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />

    <!-- My CSS -->
    <link rel="stylesheet" href="../style/soal-ekonomi.css" />

    <title>Soal-PB</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007cdc">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="logo-home" src="../../img/Logo Sisulut.svg" alt="" width="210" width="45" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item roboto-regular">
              <a class="nav-link" aria-current="page" href="./beranda.html">Home</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link active" href="./materi.html">Materi</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link" href="./kontak.html">Kontak</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link" href="./tentang.html">Tentang</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <main>
      <div class="container">
        <div class="row judul">
          <div class="col text-center">
            <h2><span>Soal :</span> TKA Ekonomi</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-9">
            <p class="soal">
                1. Kelangkaan merupakan inti masalah ekonomi yang salah satunya memaksa manusia untuk melakukan pilihan dalam hidupnya baik secara individual maupun kolektif yang disebabkan oleh….
            </p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio1">A. keterbatasan jumlah alat pemuas kebutuhan yang tersedia di alam</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio2">B. peningkatan investasi sebagai akibat dari modernisasi global</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio3">C. terjadinya bencana alam</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio4">D. perkembangan potensi sumber daya manusia</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio5">E. faktor-faktor lain kelangkaan yang dianggap konstan</label>
            </div>
            <p class="soal">
                2. Terbatasnya kemampuan dalam mengolah alam seperti hutan gundul merupakan salah satu masalah kelangkaan yang disebabkan penebangan liar oleh manusia, sehingga hal yang harus kita lakukan untuk menanggulanginya adalah dengan….
            </p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio6">A. penanaman hutan kembali</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio7">B. membatasi pengelolaan hutan untuk kepentingan pribadi</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio8">C. membuat terasering</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio9">D. melakukan tebang pilih</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio10">E. tidak mengeksploitasi hutan</label>
            </div>
            <p class="soal" style="margin-bottom: 25px">3. Amanda baru saja lulus SMA, ia memiliki pilihan untuk melanjutkan kuliah dengan biaya Rp20.000.000, bekerja di bidang garmen dengan gaji Rp4.500.000, atau meneruskan usaha rumahan orang tuanya dengan penghasilan bersih perbulan kurang lebih Rp7.000.000. Jika Amanda memilih untuk melanjutkan kuliahnya, maka berapakah biaya peluang Amanda….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio11">A. Rp4.500.000</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio12">B. Rp7.000.000</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio13" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio13">C. Rp12.000.000</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio14" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio14">D. Rp20.000.000</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio15" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio15">E. Rp30.000.000</label>
            </div>
            <p class="soal">4. Diketahui suatu permintaan pada pasar terhadap barang Y adalah sebagai berikut P = 50 – 2Q, dan fungsi penawaran ditunjukkan dengan P = -40 + 2Q. Terhadap barang tersebut dikenakkan pajak sebesar Rp10,00 per unit. Berapakah titik keseimbangan pasar setelah pajak, yaitu….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio16" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio16">A. Q = 15</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio17" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio17">B. Q = 17</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio18" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio18">C. Q = 18</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio19" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio19">D. Q = 19</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio20" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio20">E. Q = 20</label>
            </div>
            <p class="soal">
                5. Salah satu produk perbankan dimana bank memberikan fasilitas penyimpanan barang berharga bagi customer, disebut juga….
            </p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio21" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio21">A. Deposito</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio22" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio22">B. Tabungan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio23" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio23">C. Save deposit box </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio24" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio24">D. ATM</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio25" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio25">E.  fasilitas cek</label>
            </div>
            <p class="soal">6. Dalam rangka mengatasi inflasi pemerintah dan Bank Indonesia bekerja sama melakukan Kebijakan Diskonto yaitu….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio26" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio26">A. menaikkan tingkat suku bunga sehingga masyarakat lebih suka berinvestasi</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio27" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio27">B. menaikkan tingkat suku bunga sehingga masyarakat rajin menabung</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio28" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio28">C. menjual surat berharga sehingga uang yang beredar di masyarakat berkurang</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio29" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio29">D. mengedarkan surat atau pengumuman agar lembaga dan individu melakukan efesiensi</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio30" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio30">E.  membeli surat berharga sehingga uang yang beredar di masyarakat bertambah</label>
            </div>

            <p class="soal">7. Salah satu cara mengatasi inflasi yaitu Bank Indonesia akan cenderung meningkatkan nilai cadangan wajib dari masing-masing bank agar uang yang beredar kembali masuk ke bank dan berkurang di masyarakat, sehingga inflasi dapat diatasi. Kebijakan yang diambil oleh bank Indonesia tersebut disebut kebijakan….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio31" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio31">A. politik diskonto</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio32" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio32">B. Oprasi Pasar Terbuka</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio33" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio33">C. giro wajib minimum</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio34" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio34">D. Moneter Ekspansif</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio35" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio35">E.  fiskal kontraktif</label>
            </div>

            <p class="soal">8. Salah satu peranan koperasi dalam perekonomian adalah sebagai wadah….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio36" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio36">A. untuk memenuhi kebutuhan manusia sehari-hari yang dapat dijangkau masyarakat.</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio37" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio37">B. untuk membina kemampuan masyarakat berpenghasilan menegah kebawah</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio38" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio38">C. ekonomi masyarakat yang berwatak sosial</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio39" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio39">D. pengusaha kecil untuk mengambil kredit.</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio40" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio40">E.  untuk mengembangkan perekonomian nasional berdasarkan asas kekeluargaan dan demokratis ekonomi.</label>
            </div>

            <p class="soal">9. Transaksi berikut yang akan masuk ke dalam jurnal khusus pembelian adalah….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio41" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio41">A. pembelian disertain nota kontan sebagai bukti transaksinya</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio42" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio42">B. Dikeluarkan Faktur untuk customer</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio43" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio43">C. melakukan pembelian perlengkapan yang syarat pembayarannya COD</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio44" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio44">D. diterima pesanan pembelian dari PT Abadi Jaya</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio45" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio45">E.  diterima faktur dari PT Abadi Jaya</label>
            </div>

            <p class="soal">10. Laporan keuangan sebagai alat untuk mengetahui dan mengambil keputusan tentang apakah akan dilakukan penanaman modal pada suatu perusahaan atau tidak, merupakan fungsi informasi akuntansi bagi….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio46" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio46">A. Pemilik Perusahaan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio47" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio47">B. Kreditur</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio48" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio48">C. debitur</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio49" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio49">D. Investor</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio50" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio50">E.  management</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-start">
            <a class="btn btn-soal" href="./materi.html" role="button">Kembali</a>
          </div>
          <div class="col d-flex justify-content-end">
            <a class="btn btn-soal" href="#" role="button">Lihat Jawaban</a>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer style="width: 100%; height: 195.77px; background: #007cdc" class="py-5 mt-2">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <p style="font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 120%; /* or 22px */ color: #ffffff">KONTEN WEBSITE KAMI</p>
            <p class="p-footer" style="margin-top: -10px">TPS UTBK</p>
            <p class="p-footer" style="margin-top: -10px">TPA UTBK</p>
            <p class="p-footer" style="margin-top: -10px">UTBK SOSHUM</p>
          </div>
          <div class="col-4 text-center py-1">
            <p class="md-2" style="font-family: Poppins; font-style: normal; font-weight: 600; font-size: 24px; line-height: 120%; /* or 29px */ text-align: center; color: #ffffff">KONTAK KAMI</p>
            <img src="../../img/bi_whatsapp.svg" alt="wa" />
            <img class="mx-3" src="../../img/email.svg" alt="email" />
            <img src="../../img/instagram-fill.svg" alt="ig" />
          </div>
          <div class="col-4 text-end py-1">
            <img class="mb-2" src="../../img/Logo Sisulut.svg" alt="logo" />
            <p
              style="
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 120%;
                /* identical to box height, or 22px */

                color: #ffffff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              "
            >
              Copyright © 2021 sisulut.id
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Akhir Footer -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
