<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />

    <!-- My fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet" />

    <!-- My CSS -->
    <link rel="stylesheet" href="../style/soal-tps-PB.css" />

    <title>Soal-PB</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #007cdc">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img class="logo-home" src="../../img/Logo Sisulut.svg" alt="" width="210" width="45" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item roboto-regular">
              <a class="nav-link" aria-current="page" href="./beranda.html">Home</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link active" href="./materi.html">Materi</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link" href="./kontak.html">Kontak</a>
            </li>
            <li class="nav-item ms-4 roboto-regular">
              <a class="nav-link" href="./tentang.html">Tentang</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <main>
      <div class="container">
        <div class="row judul">
          <div class="col text-center">
            <h2><span>Soal :</span> TPS Pengetahuan Bacaan</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-9">
            <p class="instruksi">Bacalah teks berikut dengan cermat untuk menjawab soal nomor 1-6!</p>
            <p class="teks-bacaan">
              [...] Pendidikan kita saat ini setidaknya dihadapkan [...] tiga masalah besar. 2. Masalah tersebut terkait dengan mutu, motivasi, dan pemerataan pendidikan. 3. Secara umum, saat ini pendidikan kita lebih menjalankan akumulasi
              pengetahuan yang bersifat [...], daripada penguasaan keterampilan dan pembentukan kepribadian. 4. Pola motivasi sebagian besar peserta didik lebih kepada penampilan daripada pencapaian. 5. Bentuk motivasi ini lebih
              mengutamakan ijazah atau gelar daripada [...] yang benar-benar dikuasai atau mampu dikerjakan. 6. Pendidikan kita belum berhasil meningkatkan kualitas hasil belajar sebagian besar peserta didik yang umumnya [...] sedang atau
              kurang. 7. Pendidikan kita mungkin baru berhasil meningkatkan kemampuan peserta didik yang merupakan bibit unggul.
            </p>
            <p class="soal">1. Judul yang paling tepat untuk melengkapi tulisan di atas adalah …</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio1">A. Keadaan Nyata Pendidikan Indonesia</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio2">B. Masalah Utama Pendidikan Indonesia</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio3">C. Masalah-Masalah Pendidikan Indonesia </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio4">D. Pelaksanaan Program Pendidikan Indonesia</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio5">E. Kekurangan-Kekurangan Program Pendidikan Indonesia</label>
            </div>
            <p class="soal">2. Kata depan yang tepat melengkapi kalimat 1 adalah ...</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio6">A. dari</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio7">B. bagi</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio8">C. pada</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio9" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio9">D. untuk</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio10" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio10">E. kepada</label>
            </div>
            <p class="soal" style="margin-bottom: 25px">3. Kata yang paling tepat untuk melengkapi titik-titik pada kalimat 3 adalah ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio11" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio11">A. kaku</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio12" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio12">B. luwes</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio13" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio13">C. verbal</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio14" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio14">D. kognitif</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio15" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio15">E. psikomotor</label>
            </div>
            <p class="soal">4. Kata yang paling tepat untuk melengkapi titik-titik pada kalimat 5 adalah …</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio16" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio16">A. ujian</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio17" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio17">B. pelajaran</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio18" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio18">C. substansi</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio19" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio19">D. kreativitas</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio20" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio20">E. keterampilan</label>
            </div>
            <p class="soal">5. Kata yang paling tepat untuk melengkapi titik-titik pada kalimat 6 adalah ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio21" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio21">A. berkemauan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio22" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio22">B. berkeuangan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio23" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio23">C. berkekurangan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio24" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio24">D. berkemampuan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio25" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio25">E. berketerampilan</label>
            </div>
            <p class="soal">6. Kata berimbuhan yang salah digunakan pada paragraf tersebut adalah ….</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio26" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio26">A. pemerataan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio27" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio27">B. kepribadian</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio28" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio28">C. menjalankan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio29" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio29">D. meningkatkan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio30" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio30">E. mengutamakan</label>
            </div>
            <p class="instruksi">Bacalah teks berikut dengan cermat untuk menjawab soal nomor 7-12!</p>
            <p class="teks-bacaan">
              [...] 7. Mandi air dingin membantu bangun di pagi hari. 8. Ketika semprotan dingin dikenai tubuh, ada sedikit kejutan. 9. Guncangan ini meningkatkan asupan oksigen, detak jantung, dan kewaspadaan. 10Mandi air dingin
              meningkatkan sirkulasi juga, ketika air dingin mengenai tubuh dan anggota tubuh eksternal, maka akan [...] darah bersirkulasi dengan kecepatan lebih cepat untuk mempertahankan suhu tubuh yang ideal. 11Mandi air dingin membantu
              [...] nyeri otot setelah latihan intensif juga karena air dingin memiliki sifat regeneratif, otot akan rileks dan membaik setelah latihan yang berat. 12Masih ada banyak manfaat mandi dengan air dingin lainnya [...] kesehatan
              kulit dan rambuh yang lebih bercahaya. Sumber: detikhealth
            </p>
            <p class="soal">7. Judul yang tepat untuk melengkapi paragraf diatas adalah ...</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio31" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio31">A. Bahaya Mandi Air Dingin</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio32" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio32">B. Dampak dari Mandi Air Dingin</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio33" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio33">C. Reaksi Organ Dalam Tubuh Ketika Mandi Air Dingin</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio34" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio34">D. Manfaat Mandi Air Dingin</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio35" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio35">E. Mandi Pagi Hari Berjuta Manfaat</label>
            </div>
            <p class="soal">8. Kata berimbuhan yang salah digunakan dalam paragraf tersebut adalah .... </p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio36" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio36">A. meningkatkan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio37" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio37">B. Membantu</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio38" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio38">C. membaik</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio39" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio39">D. mempertahankan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio40" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio40">E. dikenai</label>
            </div>
            
            <p class="soal">9. Makna kata ini pada kalimat 3 merujuk pada .... </p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio41" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio41">A. pagi hari</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio42" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio42">B. semprotan air dingin</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio43" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio43">C. kejutan </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio44" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio44">D. asupan oksigen</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio45" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio45">E. detak jantung</label>
            </div>
            <p class="soal">10. Kata berimbuhan yang tepat untuk melengkapi bagian rumpang pada kalimat 4 adalah ....</p>
            <div class="btn-group-vertical jawaban" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio46" autocomplete="off" checked />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio46">A. mengenai</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio47" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio47">B. menyebabkan</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio48" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio48">C. mengeluarkan </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio49" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio49">D. memudahkan </label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio50" autocomplete="off" />
              <label class="btn btn-outline-primary teks-jawaban" for="btnradio50">E. mencegah</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-start">
              <a class="btn btn-soal" href="./soal-tps-PU.html" role="button">Kembali</a>
          </div>
          <div class="col d-flex justify-content-end">
              <a class="btn btn-soal" href="#" role="button">Lihat Jawaban</a>
          </div>
        </div>
        
      </div>
    </main>

    <!-- Footer -->
    <footer style="width: 100%; height: 195.77px; background: #007cdc" class="py-5 mt-2">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <p style="font-family: Poppins; font-style: normal; font-weight: 600; font-size: 18px; line-height: 120%; /* or 22px */ color: #ffffff">KONTEN WEBSITE KAMI</p>
            <p class="p-footer" style="margin-top: -10px">TPS UTBK</p>
            <p class="p-footer" style="margin-top: -10px">TPA UTBK</p>
            <p class="p-footer" style="margin-top: -10px">UTBK SOSHUM</p>
          </div>
          <div class="col-4 text-center py-1">
            <p class="md-2" style="font-family: Poppins; font-style: normal; font-weight: 600; font-size: 24px; line-height: 120%; /* or 29px */ text-align: center; color: #ffffff">KONTAK KAMI</p>
            <img src="../../img/bi_whatsapp.svg" alt="wa" />
            <img class="mx-3" src="../../img/email.svg" alt="email" />
            <img src="../../img/instagram-fill.svg" alt="ig" />
          </div>
          <div class="col-4 text-end py-1">
            <img class="mb-2" src="../../img/Logo Sisulut.svg" alt="logo" />
            <p
              style="
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 120%;
                /* identical to box height, or 22px */

                color: #ffffff;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
              "
            >
              Copyright © 2021 sisulut.id
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Akhir Footer -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
  </body>
</html>
